{% extends "base.html" %}



{% block title %} Thoughts{% endblock %}

{% block header %}
{% endblock %}
{% block main %}
<br><br>
<br><br>
<br><br>
{% for p in object_list %}
{#<p>{{p}}</p>#}
    {% if p|length==1 %}
        <p>Post about {{p[0].tema}}  text : {{p[0].post_text}}</p>
    {% else %}
            <p>{{"-"*p[0]}}{{p[1].message}}</p>
{% endif %}
{% endfor %}

      <h1 align="center">Feedback</h1>
      <br><br>
      <br><br>
      <form>
          <p>
              <label for="comment">Here you can leave recommendations and suggestions to the author website.</label>
              <textarea id="comment" rows="4" cols="100" placeholder="Write something..."></textarea>
          </p>
          <p>
              <input type="submit" value="Sent">
          </p>
      </form>

<br><br>
<br><br>

{% endblock %}