{% extends "base.html" %}



{% block title %}My Resume{% endblock %}


{% block header %}{% endblock %}

{% block main %}

   <br><br>
<br><br>
<br><br>
<br><br>
            <big>
			<p align=center>Knowledge and experience
				{% for project in projects %}
				<p>from {{project.started_at}} till {{project.finished_at}}</p>
				<p>{{project.summary}}</p>
				<p>Framework:</p>
				<ul>
					{% for technology in project.technologies.all() %}
					<li>{{technology.name}}</li>
					{% endfor %}
				</ul>
				{% endfor %}
			{#<!p align=left>I have a some knowledge and experience in  algorithms and data structures, methods of numerical analysis and other areas related to the optimization of computational processes.
			<!p align=left>Recommendations may be provided upon request.
				#}
            </big>
			<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
{% endblock %}
