{% extends "base.html" %}



{% block title %}My page {{name}}{% endblock %}

{% block header %}{% endblock %}
{% block main %}
<br><br>
<br><br>
        <aside>
            <img alt="it's me" align="right" width="500" height="622" src="{{ static('index/gBAs.jpg') }}">
  <!img src="gBAs.jpg" align="right" width="500" height="622" alt="it's me">
        </aside>
    <article>
        <br><br>

<br><br>
<br><br>
<br><br>
        <big>
            {{greeting | safe}}
      </big>
    </article>
<br><br>
<br><br>
<br><br>
<br><br>
{% endblock %}