default:
  ALLOWED_HOSTS: []
  AWS_ACCESS_KEY_ID: ""
  AWS_LOCATION: ""
  AWS_S3_REGION_NAME:  "us-east-1"
  AWS_SECRET_ACCESS_KEY: ""
  CELERY_BEAT_INVITATION: -1
  CELERY_BROKER_URL: ""
  DATABASE_URL: ""
  EMAIL_FROM: ""
  EMAIL_HOST: ""
  EMAIL_HOST_PASSWORD: ""
  EMAIL_HOST_USER: ""
  EMAIL_PORT: 0
  EMAIL_USE_SSL: 0
  EMAIL_USE_TLS: 0
  LOCAL_TIME_ZONE: "UTC"
  DEBUG: false
  PROFILING: true
  SECRET_KEY: ""
  SENTRY_DSN: ""
  SITE_ID: 0
  PRE_COMPILE: true

development:
  TG: "1246344183:AAHa5EcACVE8g1Aza7PKR_RQBWUreyQcRvw"
  ALLOWED_HOSTS: ["7c4f8ed0b7fc.ngrok.io"]
  AWS_LOCATION: "development"
  CELERY_BEAT_INVITATION: 30
  DEBUG: true
  PROFILING: 0
  SECRET_KEY: "1"
  SITE_ID: 1
  PRE_COMPILE: false

docker:
  AWS_LOCATION: "docker"
  CELERY_BEAT_INVITATION: 30
  CELERY_BROKER_URL: "redis://m-dev-broker"
  DATABASE_URL: "postgresql://asham:asham@m-dev-db:5432/m-dev"
  CACHING: 0
  DEBUG: 1
  PROFILING: 0
  SECRET_KEY: "1"
  SITE_ID: 1
  PRE_COMPILE: false

heroku:
  AWS_LOCATION: "heroku"
  ALLOWED_HOSTS:
    - .xgul.herokuapp.com
    - 127.0.0.1
    - localhost
  CELERY_BEAT_INVITATION: 90
  DEBUG: false
  PROFILING: 0
  PRE_COMPILE: true

test:
  EMAIL_FROM: "test@test.name"
  DEBUG: true
  PROFILING: 0
  SECRET_KEY: "1"
  SITE_ID: 1
  PRE_COMPILE: true

travis:
  EMAIL_FROM: "test@test.name"
  DEBUG: true
  PROFILING: 0
  SECRET_KEY: "1"
  SITE_ID: 1
  PRE_COMPILE: true
