{% extends "base.html" %}
{% block title %}My page post{% endblock %}

{% block header %}{% endblock %}
{% block main %}
<br><br>
<br><br>
<br><br>
<h1>{{object.title}}</h1>
<p>{{object.content}}</p>

<article>
        <h3>Comments</h3>
        {% if not object.comments.count() %}
            <p>No one commented this</p>
        {% endif %}
        {% for comment in object.comments.all() %}
            <section>
                <p><i>-{{ comment.message }}</i></p>
                {#<p>&mdash;- {{ comment.author.profile.name }}</p>#}
            </section>
        {% endfor %}
        {% if not user.is_authenticated %}
            <p><a href="{{ url("onboarding:index") }}">Sign in</a> to leave a comment.</p>
        {% else %}
            <form action="{{ url("blog:comment", kwargs={"pk": object.pk}) }}" method="post">
                {{ form.as_p() }}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button type="submit">Comment</button>
            </form>
        {% endif %}
    </article>

{% endblock %}